# Don’t commit the following directories created by pub.
.idea
build/
packages/

build_documentation_cache/

# ignore private key files 
privatekey.p12
rsa_private_key.pem

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
pubspec.lock
bin/packages
test/packages
test/dummyLibraries/allLibs/packages
test/dummyLibraries/mixedLibs/packages
test/dummyLibraries/noLibs/packages
test/dummyLibraries/packages
config.json
packages
clientConfig.json
Configuing-logstash.txt
bin/clientConfig.json.bak
bin/test_config_file.dart
bin/test_datastore.dart
bin/test_datastore_gql.dart
bin/test_genClientConfig.dart
bin/test_local_build_interface.dart
bin/testClientConfig.json
quick_exec.sh
scripts/daemon_launch/fix_build.sh
